<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>The Nim Game</title>
<link rel="stylesheet" href="client.css">
</head>

<body>
<!--<div id="casino">-->
<div id="chatten">
<h1>Nim</h1>
<p>Den som tar sista stickan förlorar.</p>

<form id="form1">

  <p>
    <label>Välj nickname och starta/joina spelet: </label><br>
    <input id="nickname" type="text" autofocus required>
    input(
        id="connect_url"
        type="hidden"
        value= ws_addr
    )

    <input id="protocol" type="hidden" value="json">
    <br>
    <input id="start" type="button" value="Starta/Joina">
    <!--<input id="join" type="button" value="Joina">-->
    <input id="close" type="button" value="Lämna spelet">
  </p>




  <p>
    <label>Status: </label><br>
    <div id="output" class="output"></div>
  </p>

</form>

</div>

<div id="gameplan">
</div>

<div id="statistics">
    <h4>Statistik</h4>
    <table>
        <tr>
            <th>Antal avslutade spel</th>
            <th>% segrar för startande</th>
            <th>% segrar för icke startande</th>
        </tr>
        <tr>
            <!--<td>starterWins</td>
            <td>secondWins</td>-->
            td(class="stats")= totalWins
            td(class="stats")= starterWins
            td(class="stats")= secondWins
        </tr>
    </table>
    <table class="floatleft marginleft">
        <tr>
            <th class="toplist">Toplist</th>
            <th class="toplist">Wins</th>
        </tr>
        each val in toplist
            tr
                td(class="stats")= val.name
                td(class="stats")= val.wins
    </table>
    <table>
        <tr>
            <th class="toplist">Bottomlist</th>
            <th class="toplist">Losses</th>
        </tr>
        each val in bottomlist
            tr
                td(class="stats")= val.name
                td(class="stats")= val.losses
    </table>
</div>
<!--</div>-->

<script src="client.js"></script>

</body>
</html>
